<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" -->
  <title>鸽子模拟器-抽取魔物娘</title>
</head>

<body>
  <div class="draw-div">
    <button id="draw">抽卡</button>
  </div>
</body>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="../src/proto.js"></script>
<script src="../src/draw.js"></script>

</html>