<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="character">
    <h3>属性</h3>
    <p class="attr hp">生命力:<span id="hp"></span></p>
    <p class="attr capacity">体力:<span id="capacity"></span></p>
    <p class="attr strength">力量:<span id="strength"></span></p>
    <p class="attr charm">魅力:<span id="charm"></span></p>
    <p class="attr money">财富:<span id="money"></span></p>
    <p class="attr spirit">精神:<span id="spirit"></span></p>
  </div>
  <div class="event list">
    <h3>事件表</h2>
      <ul id="event"></ul>
  </div>
  <div class="op">
    <h3>操作</h3>
    <input id="in"><br>
    <button id="btn">点击</button>
  </div>
</body>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src=""></script>
<script src="../src/proto.js"></script>
<script src="../src/game.js"></script>

</html>