<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" -->
  <title>登录界面</title>
</head>

<body>
  <div class="login-div">
    <label>账号: <input type="text" id="username"></label>
    <button id="register">注册</button>
    <button id="login">登录</button>
    <p><b>账号长度不能长于20位字符</b></p>
  </div>
</body>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="../src/proto.js"></script>
<script src="../src/login.js"></script>

</html>