<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <div class="attr">
      <p>可分配点数: <span class="total">100</span></p>
      <p>生命力:<span class="hp">0</span><button class="hp plus">+</button><button class="hp plus-five">+5</button><button class="hp minus">-</button></p>
      <p>体力:<span class="capacity">0</span><button class="capacity plus">+</button><button class="capacity plus-five">+5</button><button class="capacity minus">-</button></p>
      <p>力量:<span class="strength">0</span><button class="strength plus">+</button><button class="strength plus-five">+5</button><button class="strength minus">-</button></p>
      <p>魅力:<span class="charm">0</span><button class="charm plus">+</button><button class="charm plus-five">+5</button><button class="charm minus">-</button></p>
      <p>财富:<span class="money">0</span><button class="money plus">+</button><button class="money plus-five">+5</button><button class="money minus">-</button></p>
      <p>精神:<span class="spirit">0</span><button class="spirit plus">+</button><button class="spirit plus-five">+5</button><button class="spirit minus">-</button></p>
      <button id="random">随机属性</button>
      <button id="submit">确定</button>
    </div>
  </body>
  <footer>

  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="../src/register.js"></script>
</html>