<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" -->
  <title>鸽子模拟器-注册界面</title>
</head>

<body>
  <div class="attr">
    <label>输入角色名: <input type="text" class="name"></label>
    <form class="gender">性别: 
      <label><input type="radio" name="gender" value="male">男</label>
      <label><input type="radio" name="gender" value="female">女</label>
      <label><input type="radio" name="gender" value="other">其他</label>
    </form>
    <p>可分配点数: <span class="total">100</span></p>
    <p>生命力: <span class="hp">100</span><button class="hp plus">+</button><button class="hp plus-five">+5</button><button
        class="hp minus">-</button></p>
    <p>体力: <span class="capacity">100</span><button class="capacity plus">+</button><button
        class="capacity plus-five">+5</button><button class="capacity minus">-</button></p>
    <p>力量: <span class="strength">0</span><button class="strength plus">+</button><button
        class="strength plus-five">+5</button><button class="strength minus">-</button></p>
    <p>魅力: <span class="charm">0</span><button class="charm plus">+</button><button
        class="charm plus-five">+5</button><button class="charm minus">-</button></p>
    <p>增值: <span class="appreciation">0</span><button class="appreciation plus">+</button><button
        class="appreciation plus-five">+5</button><button class="appreciation minus">-</button></p>
    <p>精神: <span class="spirit">0</span><button class="spirit plus">+</button><button
        class="spirit plus-five">+5</button><button class="spirit minus">-</button></p>
    <button id="random">随机属性</button>
    <button id="submit">确定</button>
  </div>
</body>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="../src/proto.js"></script>
<script src="../src/register.js"></script>

</html>